<div class="columns">
  <div class="column">
      <h1 class="subtitle">
        You have {{apps.length}} app(s) deployed
        <a href="/apps/new" class="button is-link is-pulled-right">Create App</a>
      </h1>

      {{#if apps.length}}
        <div class="box">
          <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
              <thead>
              <tr>
                <td>Name</td>
                <td>URL</td>
                <td><span class="is-pulled-right">Actions</span></td>
              </tr>
              </thead>
              {{#each apps}}
                <tr>
                  <td>
                    <a href="/apps/{{ id }}">{{title}}</a>
                  </td>
                  <td>
                    <a href="http://{{url}}" target="_blank">
                      http://{{url}}
                    </a>
                  </td>
                  <td>
                    <div class="buttons are-small is-pulled-right">
                      <a href="/apps/update/{{ id }}" class="button is-light">Update</a>
                      <a class="button is-danger is-light">Delete (NYI)</a>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}

  </div>
</div>
