<div class="columns is-centered">
  <div class="column is-three-quarters">

    <!-- Terminal -->
    <div class="box terminal-wrapper" style="display: none">
      <details open="true">
        <summary>Build Process</summary>
        <pre class="terminal"></pre>
      </details>
    </div>

    <!-- App Info -->
    <div class="box">
      <div class="content">
        <details open="true">
          <summary>Info</summary>
          <div class="content">
            <p>
              <strong>Title:</strong>
              {{ app.title }}
            </p>

            <p>
              <strong>IP Address:</strong>
              <a href="http://{{ app.ipAddress }}" target="_blank">
                {{ app.ipAddress }}
              </a>

            </p>
            
            <a href='' class='button is-link'>Edit</a>
            <a href='/apps' class='button'>Back</a>
          </div>
        </details>
      </div>
    </div>

    <!-- App Database -->
    <div class="box">
      <details open>
        <summary>Database</summary>

        <div class="content">
          <p>
            Add a database:
            <form method="POST" action="/apps/{{ app.id }}/database" enctype="multipart/form-data">
              <label>
                Schema: <input type="file" name="file" />
              </label>

              <input class="button is-link" type="submit" value="Add Database" />
            </form>
          </p>
        </div>
      </details>
    </div>

    <!-- Scaling -->
    <div class="box">
      <details open>
        <summary>Scaling</summary>

        <div class="content">
          <p>There are currently <strong>{{ app.replicas }}</strong> instance(s) of this app. You can scale the number of instances below.</p>
        </div>

        <div class="content">

          <form method="POST" action="/apps/{{ app.id }}/scale">
            <label>
              Instances: <input type="number" name="scale" value="{{ app.replicas }}" />
            </label>

            <input class="button is-link" type="submit" value="Update" />
          </form>
        </div>
      </details>
    </div>

  </div>
</div>

<script>
(() => {
  const terminalWrapper = document.querySelector('.terminal-wrapper');
  const terminal = document.querySelector('.terminal');
  const url = new URL(document.location.href);
  const urlParams = new URLSearchParams(url.search);
  const showTerminal = urlParams.has('events');

  if (showTerminal) {
    const appEventEndpoint = new EventSource('/events/{{ app.id }}');

    const minimizeTerminal = () => {
      terminalWrapper.querySelector('details').removeAttribute('open');
      terminalWrapper.querySelector('summary').innerHTML = 'Build Complete';
    };

    const messageHandler = (event) => {
      if (event.lastEventId === '-1') {
        appEventEndpoint.close();
        minimizeTerminal();
        return;
      }

      // This only unhides the terminal _if_ we get a message from the server.
      if (terminalWrapper.style.display !== 'block') { terminalWrapper.style.display = 'block'; }

      const message = JSON.parse(event.data);

      terminal.innerHTML += message;
      terminal.scrollTop = terminal.scrollHeight;
    };

    const errorHandler = (error) => {
      appEventEndpoint.close();
    };

    appEventEndpoint.addEventListener('message', messageHandler);
    appEventEndpoint.addEventListener('error', errorHandler);
  }
})();
</script>