{{#if errors}}
  <article class="message is-danger">
    <div class="message-body">
      <ul>
        {{#each errors}}
          <li>{{this.message}}</li>
        {{/each}}
      </ul>
    </div>
  </article>
{{/if}}

<div class="app-header" style="display: flex;align-items: center;margin-bottom: 1rem">
  <h1 class="is-size-4 has-text-weight-bold">{{ app.title }}</h1>

  <span class="tag" id="app-health" style="margin-left: .5rem">Loading...</span>

  {{#if app.deployed}}
    <a href="http://{{ app.url }}" target="_blank" class="button" style="margin-left: auto">Open App</a>
  {{else}}
    <a href="http://{{ app.url }}" target="_blank" class="button not-yet-deployed" style="margin-left: auto">Open App</a>
  {{/if}}

  {{#if app.deployed}}
    <div class="dropdown is-right" style="margin-left: 1rem;">
  {{else}}
    <div class="dropdown is-right not-yet-deployed" style="margin-left: 1rem;">
  {{/if}}
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span class="icon is-small">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a id="exec-open" href="#" class="dropdown-item">
            <i class="fa fa-terminal"></i>Open Console
          </a>
          <hr class="dropdown-divider">
          <a href="/apps/{{ app.id }}/delete" class="dropdown-item has-text-danger">
            <i class="fa fa-trash"></i>Delete App
          </a>
        </div>
      </div>
    </div>

</div>

<!-- Terminal -->
<div id="build-terminal" class="box terminal-wrapper" style="display: none">
  <details open="true">
    <summary>
      Build Process
      <progress
        class="progress is-small is-info"
        max="100"
        style="max-width: 300px;margin-left: auto;max-width: 150px;"
      ></progress>
    </summary>
    <pre class="terminal"></pre>
  </details>
</div>

<!-- Deploy -->
<div class="box">
  <div class="content">
    <details open="true">
      <summary>
        <div>
          <i class="fa fa-rocket"></i>Deploy
        </div>
      </summary>
      <div class="content">
        <div class="message-side-by-side">
          <article class="message">
            <div class="message-header">
              Upload .zip
            </div>
            <div class="message-body message-body-small">
              <p class="has-info-text">Upload a .zip of your app's code. Be sure the .zip doesn't nest files in an extra directory.</p>

              <form method="POST" action="/apps/{{app.id}}/deploy" enctype="multipart/form-data">
                <div class="field has-addons" style="justify-content: center">
                  <div class="control">
                    <div id="file-js-zip" class="file has-name">
                      <label class="file-label">
                        <input class="file-input" type="file" name="file">

                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-file-archive-o" /></i>
                          </span>

                          <span class="file-name">
                            Attach .zip...
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="control">
                    <button class="button is-link" type="submit">Deploy</button>
                  </div>
                </div>
              </form>
            </div>
          </article>

          <span class="message-divider">OR</span>

          <article class="message">
            <div class="message-header">From Terminal</div>

            <div class="message-body message-body-small">
              Deploy this app from your terminal using the <a href="" target="_blank">Mothership CLI</a>:
              <br/><br/>
              <code class="code-large">mothership deploy redpoint</code>
            </div>
          </article>
        </div>
      </div>
    </details>
  </div>
</div>

<!-- App Database -->
{{#if app.deployed}}
<div class="box">
{{else}}
<div class="box not-yet-deployed">
{{/if}}
  <details>
    <summary>
      <div>
        <i class="fa fa-database"></i>
        Database
      </div>
      {{#if app.database}}
        <span class="tag is-rounded is-link flex-float-right">Enabled</span>
      {{/if}}
    </summary>

    <div class="content">
      {{#if app.database}}
      <article class="message">
        <div class="message-body message-body-small">
          <p>Your app is using the database <code>{{app.database.service_name}}</code>.</p>
          <p>
            Connection details have been set in your application in the environment
            variables <code>DATABASE_HOST</code>, <code>POSTGRES_DB</code>,
            <code>POSTGRES_USER</code>, <code>POSTGRES_PASSWORD</code>. Be sure to
            configure your application to use these environmeent variables to connect.
          </p>
          <button id="dbdestroy" class="button is-danger is-small">
            Destroy Database
          </button>
        </div>
        <div id="dbdestroy-modal" class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <article class="message is-danger">
              <div class="message-header">
                <p>Are you sure?</p>
              </div>
              <div class="message-body">
                Are you <em>sure</em>? You will lose this app's entire database and
                associated data. This is irreversible. Be sure to back up the database
                first.
                <form method="POST" action="/apps/{{app.id}}/dbdestroy">
                  <div class="field is-grouped" style="margin-top: 16px">
                    <p class="control">
                      <button type="submit" id="dbdestroy-for-real" class="button is-small is-danger">
                        Destroy database
                      </button>
                    </p>
                    <p class="control">
                      <button id="dbdestroy-cancel" class="button is-small is-success">
                        Cancel
                      </button>
                    </p>
                  </div>
                </form>
              </div>
            </article>
          </div>
        </div>
      {{else}}
        <article class="message">
          <div class="message-body message-body-small">
            <p>This application doesn't have a database. You can add a database below.</p>
            <p>
              Once a database has been added, environment variables are available in
              your application for <code>DATABASE_HOST</code>, <code>POSTGRES_DB</code>,
              <code>POSTGRES_USER</code>, and <code>POSTGRES_PASSWORD</code>.
            </p>
            <p>
              Optionally, you can attach a <code>schema.sql</code> file initialize your database. Or,
              if you run commands for setting up your database and running migrations, you
              can do so in the 'Open Console' action in the dropdown at the top.
            </p>
          </div>
        </article>

        <form method="POST" action="/apps/{{app.id}}/database" enctype="multipart/form-data">
          <div class="field is-grouped" style="align-items: center">

            <div class="field schema-field flex-float-right" style="display: none; margin-right: .25rem; margin-bottom: 0;">
              <div id="file-js-sql" class="file is-small has-name">
                <label class="file-label">
                  <input class="file-input" type="file" name="file">

                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>

                    <span class="file-name">
                      Add schema.sql file (optional)...
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <a class="flex-float-right attach-schema" style="margin-right:.5rem;font-size: .85em" href="#">Add schema.sql (optional)</a>
            <p class="control">
              <button class="button is-link" type="submit">
               Add Database
              </button>
            </p>
          </div>
      </form>
      {{/if}}
    </div>
  </details>
</div>

<div id="terminal-modal" class="modal">
  <div class="modal-background"></div>
  <section class="modal-content">
    {{> loading }}
    <div id="terminal"></div>
  </section>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Environment Variables -->
<div class="box">
  <details>
    <summary>Environment Variables
      {{#if app.envVariables.length}}
        <span class="tag is-rounded is-link is-light flex-float-right">{{ app.envVariables.length }}</span>
      {{/if}}
    </summary>

    <div class="content">
      <form method="POST" action="/apps/{{ app.id }}/env">
        <table>
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
          </tr>
          {{#if app.envVariables.length}}
            {{#each app.envVariables }}
              <tr id="env-{{@index}}">
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-family-monospace" type="text" value="{{envKey this}}" name="{{@index}}[key]" />
                    </div>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input is-family-monospace" type="text" value="{{envVal this}}" name="{{@index}}[val]" />
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-list-action-container">
                    <a class="delete env" data-delete-id="#env-{{@index}}"></a>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{/if}}
          <tr>
            <td>
              <div class="field">
                <div class="control">
                  <input class="input is-family-monospace" type="input" type="text" name="{{newEnvIndex app.envVariables}}[key]" />
                </div>
              </div>
            </td>
            <td>
              <div class="field">
                <div class="control">
                  <input class="input is-family-monospace" type="input" type="text" name="{{newEnvIndex app.envVariables}}[val]" />
                </div>
              </div>
            </td>
            <td></td>
          </tr>
        </table>

        <hr/>

        <div class="field is-grouped">
          <p class="control flex-float-right">
            <input class="button is-link" type="submit" value="Save" />
          </p>
        </div>
      </form>
    </div>
  </details>
</div>

<!-- Scaling -->
<div class="box">
  <details>
    <summary>Scaling</summary>

    <div class="content">
      <p>There are currently <strong>{{ app.replicas }}</strong> instance(s) of this app. You can scale the number of instances below.</p>
    </div>

    <div class="content">
      <form method="POST" action="/apps/{{ app.id }}/scale">
        <label>
          Instances: <input type="number" name="scale" value="{{ app.replicas }}" />
        </label>

        <input class="button is-link" type="submit" value="Update" />
      </form>
    </div>
  </details>
</div>

<a href="/apps/{{ app.id }}/delete" class="button is-danger is-outlined">Delete App</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/fit/fit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/addons/attach/attach.js" integrity="sha256-5bwn4N3wNwa0EPpTwE8fJlb6yXRD6MH7r+H86hfFmI8=" crossorigin="anonymous"></script>

<script src="/javascripts/app-show-controller.js"></script>
<script>new AppShowController('{{ app.id }}', '{{ app.title }}', '{{ app.deployed}}').init()</script>
