
<div class="columns">
  <div class="column">
      <h1 class="subtitle">
        Users
        <a href="/users/new" class="button is-primary is-pulled-right">Add User</a>
      </h1>

      {{#if users.length}}
        <div class="box">
          <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
              <thead>
              <tr>
                <td>Name</td>
                <td>Email</td>
                <td><span class="is-pulled-right">Actions</span></td>
              </tr>
              </thead>
              {{#each users}}
                <tr>
                  <td>
                    <a href="/users/{{ id }}/edit">
                      {{firstName}} {{lastName}}
                    </a>
                  </td>
                  <td>
                    {{username}}
                  </td>
                  <td>
                    <div class="buttons are-small is-pulled-right">
                      <form method="POST" action="/users/{{id}}/delete">
                        <button type="submit" class="button is-danger is-outlined">Delete</button>
                      </form>
                    </div>
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}

  </div>
</div>
