<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="columns">
  <div class="column">
      <h1 class="subtitle">
        <%= @apps.length %> app(s)
        <%= link_to 'New App', new_app_path, class: 'button is-link is-pulled-right' %>
      </h1>
    <div class="box">

      <table class="table is-hoverable is-fullwidth">
        <tbody>
          <% @apps.each do |app| %>
            <tr>
              <td>
                <%= link_to "#{app.title}", app_path(app) %>
              </td>
              <td>
                <a href="http://<%= app.ip_address %>" target="_blank">
                  <%= app.ip_address %>
                </a>
              </td>
              <td>
                <div class="buttons are-small is-pulled-right">
                <%= link_to 'Edit', edit_app_path(app), class: 'button is-light' %>
                <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-light' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
