<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @app.title %>
</p>

<p>
  <strong>IP Address:</strong>
  <a href=<%= "http://" + @app.ip_address %> target="_blank">
    <%= @app.ip_address %>
  </a>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
